
<div class="window sign">
  <div class="login">Point Rental</div>
  <div class="icon">
    
      <div class="left">
        <%= button_to "5000pを借りる", {controller: "debts",action:"create"}, {method: :post ,class:"btn-square"}%>
  
    <div class ="right">
      
    </div>
  </div>
</div>
