body{
  /* font-family: 'American Typewriter',sans-serif; */
  font-size: 20px;
  
}



.header{
  height: 200px;
  width: 100vw;
  background:#63b47a;
  
}

.title{
  position: relative;
  display: flex;
  font-size: 48px;
  font-family: 'American Typewriter',sans-serif;
  padding-top: 5%;
  margin: auto;
  

}
.user{
margin-top: 1%;
padding-left: 76%;
}
.user_info{
  display: flex;
  position: absolute;
  right: 20px;
  margin-top: 0;
  margin-right: 3%;
}

.text{
  font-family: 'American Typewriter',sans-serif;
  margin: auto;
  text-align: center;
  padding-top: 1%;
  margin-bottom: 15px;
}

.post{
    border-radius:6px;
    border:0;
    background:#f26964;
    color:#fff;
    text-shadow:1px 1px 0px rgba(0,0,0,.1);
    box-shadow:0px 3px 0px #c1524e;
    font-size: 10px;
    margin: 0px 10px 10px 30px; 
}



.icon_image {
  width: 20px;
  height: 20px;

  border-radius: 100px;
  
  object-fit: cover;

}

.body{
  height: calc(100vh - 200px);
  width: 100vw;
  background:#63b47a;
  display: flex;
}
.left_container{
  width: 80%;
}
.right_side{
  width: 25%;
  height: 100%;
  
}

#container{
  height: 75%;
  width: 60%;
  margin: 0 10% 0 30% ;
  background-color: green;
  border-radius: 6px;

}

.message{
height: 50px;
text-align: center;
line-height:50px;

}

#board_c{
  /* list-style: none; */
  /* background-color: powderblue; */
  border-radius: 4px;
  padding: 10px;
  margin: 0 auto;
  position: relative;

  
}

#board_p{
  list-style: none;
  border-radius: 4px;
  padding: 10px;
  margin: 0 0 10px;
  position: relative;
}

#action{
display: flex;
justify-content: center;
height: 20%;
position: relative;
}


ul{
  display: flex;
  justify-content: center;
}

#btn_draw,#btn_pass{
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: #858b2e;
  box-shadow: 0px 3px 0px #858b2e;
  border-radius: 16px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  user-select: none;
  margin: auto 10%;
  


}

#btn_pass:active{
  top:50%;
  box-shadow:none;
}
#btn_draw:active{
  left:50px;
  box-shadow:none;
}

li{
  background-image:linear-gradient(-45deg, #BA807E 25%, #F8E9EC 25%, #F8E9EC 50%, #BA807E  50%, #BA807E 75%, #F8E9EC 75%, #F8E9EC);
  background-size:16px 16px;
  margin:5px;
  width: 50px;
  height: 80px;
  border-radius: 4px;
  line-height: 80px;
  text-align: center;
  border: 2px solid white;
}
#card,#card_c,#card_p{
  perspective:150rem;
  -moz-perspective: 150rem;
  width: 50px;
  height: 80px;
  position: relative;
  margin:5px;
  
}
#card_1,#card_2,#card_3,#card_4,.front,.front_c{
  background-color:white;
  height:100%;
  transition:.8s;
  position: absolute;
  width: 50px;
  height: 80px;
  backface-visibility: hidden;
  border-radius: 4px;
  line-height: 80px;
  text-align: center;
  border: 2px solid white;
  transform:rotateY(180deg);
  
}

.back,.back_4,.back_c{
  height:100%;
  transition:.8s;
  position: absolute;
  backface-visibility: hidden;
  background-image:linear-gradient(-45deg, #BA807E 25%, #F8E9EC 25%, #F8E9EC 50%, #BA807E  50%, #BA807E 75%, #F8E9EC 75%, #F8E9EC);
  background-size:16px 16px;
  width: 50px;
  height: 80px;
  border-radius: 4px;
  line-height: 80px;
  text-align: center;
  border: 2px solid white;

}

#bet_set{
  display: flex;
  justify-content: center;
}
#bet{
  width: 5em;
  height: 1em;
  margin: 10px;
}

#triangle_left{
    width: 0;
    height: 0;
    border-top: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 15px transparent;
    border-right: solid 15px #fcf876;
    background-color: transparent;
}
#triangle_right{
    width: 0;
    height: 0;
    border-top: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 15px transparent;
    border-left: solid 15px #fcf876;
    background-color: transparent;
}
#point{
  width: 30%;
  margin-left: 50px;
  /* margin-right: 40px; */
}


#start{
  width: 30%;
  margin: 15px 45% 10px;
  border: 1px solid black;
  text-align: center;
  border-radius: 4px;
  display: block;
  font-size: large;
}

#next{
  width: 30%;
  margin: 5px 45% 0px;
  border: 1px solid black;
  text-align: center;
  border-radius: 4px;
  display: block;
  font-size: large;
}

.total_c{
  width: 30%;
  /* background-color: aquamarine; */
  text-align: center;
  line-height: 100px;
  position: absolute;
  left: 0;
}
#total_c,#total_p{
  font-size: 30px;
}

.win_lose{
  width: 20%;
  /* background-color: aquamarine; */
  text-align: center;
  /* line-height: 100px; */
  position: absolute;
  right: 10%;
  top: 55%;
  font-size: 40px;
}

.total_p{
  width: 30%;
  /* background-color: aquamarine; */
  text-align: center;
  line-height: 100px;
  position: absolute;
  left: 0;
}


.process{
  display: flex;
}

#form{
  display: inline-block;
  padding: 10px;
}
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f26964;/*ボタン色*/
  color: #FFF;
  border-radius: 3px;
  box-shadow:0px 2px 0px #c1524e;
  
}
.btn-square:active {
  
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.ranking{
  height: 60%;
  background-color: #bfdcae;
  border-radius:6px;
  padding:20px;
  margin-right: 20px;
  
}

.user_name{
  color: black;
  padding: 5px 0px 5px;
}


.ranking_icon{
  width: 25px;
  height: 25px;
  
}
.total{
  display: flex;
  height: 100%;
}
.points{
  font-size: 20px;
  font-weight: bold;
}

.rank_number{
  width: 15%;
  height: 100%;
  /* background-color: darkmagenta; */
}

.rank{
  padding: 20px 0 15px;
}

#debt{
  width: 60%;
  margin:10% auto 0;
  border: 1px solid black;
  text-align: center;
  border-radius: 4px;
  display: block;
  font-size: large;
  display: none;
}

#repay{
  width: 60%;
  margin:10% auto 0;
  border: 1px solid black;
  text-align: center;
  border-radius: 4px;
  display: block;
  font-size: large;
  display: none;
}



#modal,#modal_2 {
	display: none;
}
/* モーダルウインドウを開いたとき */

#modal.__open,#modal_2.__open {
	display: block;
}


/* モーダルウインドウの基本スタイル */
#modal,#modal_2 {
	
	top: 25%;
	left: 0;
	width: 100%;
	height: 75%;
	overflow: scroll;
  
  background-color:transparent;
  /* background-color: thistle; */
  position: absolute;
  /* transform: translate(-50%,-50%); */
  backdrop-filter: blur(3px);
  z-index: 40;
}

#contents{  
  height: 75%;
  width: 45%;
  background-color: green;
  border-radius: 6px;
  left: 333px;
  position: absolute;
  z-index: 30;
}
.PointRental{
  text-align:center;
  font-size: 35px;
  color:black;
  margin: 0 auto;
  font-family: 'American Typewriter',sans-serif;
}
#rent{
  margin-left: 15%;
  margin-top: 7%;
  margin-bottom: 7%;
}
.explain{
  margin-top: 5%;
  font-family: 'American Typewriter',sans-serif;
}
#under{
  text-decoration: underline;
}
.repay{
  width: 50%;
}
#repay_{
  width: 50%;
  margin: 5%;
  margin-left: 25%;
}
.close{
  font-family: 'American Typewriter',sans-serif;
}


